@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/*  */
.hidden {
    display: none;
}

.danger-zone {
    @apply mt-10 p-4 border border-red-200 rounded-lg bg-red-50;
}

.btn-danger {
    @apply bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 transition;
}


